.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 30px;
    font-family: sans-serif;
    gap: 20px;
}
#tulemus {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
    border: 2px solid rgb(191, 54, 255);
    border-radius: 10px;
    background-color: rgb(210, 114, 255);
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgb(1, 125, 197);
    color: white;
    cursor: pointer;
}

#ringid {
    padding: 5px;
    border: 2px solid rgb(190, 190, 190);
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
}